name: Semgrep SAST

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Semgrep
        run: |
          pip install semgrep

      - name: Run Semgrep Scan
        run: |
           semgrep scan --config auto --text --output semgrep-result.txt

      - name: Upload TXT Result as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-result
          path: semgrep-result.txt